/*
***********
Main Screen
************/

.Boss {
  text-align: center;
  margin: auto;
  width:100px;
}
body {
  background-image: url(../images/sushi.jpg);
  background-size:cover;
  background-repeat: no-repeat;
}

td table  {
  margin: auto;
  width: 100%;
  padding: 10px;
  color:#b3cccc;
  text-align: center;
}



h1 {
    background-color: #b3cccc;
    border: none;
    color: white;
    width: 275px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color:black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-style: solid;
    border-width: medium;

}
.row {
  float: center;
  width: 100%;
}



.ingredient {
  cursor: pointer;
}
.square {
    background: #000;
    width: 100px;
    height: 100px;
    padding-bottom:20%;xz
}
.square  {
    color: #fff;
}

.container{
     border-style: solid;
   }
.column{
     border-style: solid;

   }


#scoreboard {
    background-color: #b3cccc;
    width: 340px;
    height: 50px;
    color:black;
    text-align: left;
    border-color: black;
    font-size: 16px;
    text-align: center;
    border-style: solid;
    border-width: medium;
  }

#newChoice {
  background-color: #b3cccc;
  width: 340px;
  height: 100px;
  color:;
  border-color: black;
  border:7px;
  border-style: solid;
  border-width: medium;
}

/********
Buttons
********/
#btn1  {
    background-color: #b3cccc;
    border: none;
    color: white;
    /*padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color:black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#btn2 {
    background-color: #b3cccc;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color:black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
#submit {
    background-color: #b3cccc;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color:black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}





/*****************************
      Media Queries
*****************************/

@media screen and (max-width: 980px) {
  #pagewrap {
    width: 94%;
  }
  #content {
    width: 65%;
  }
  #sidebar {
    width: 30%;
  }
}

@media screen and (max-width: 700px) {
  #content, #sidebar {
    width: auto;
    float: none;
  }
}

@media screen and (max-width: 480px) {
  #header {
    height: auto;
  }
  h1 {
      font-size:24px;
  }
  #sidebar {
    display: none;
  }
}






