#splashscreen {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:100%;
    background-image: url(../images/sushibackground.jpg);
    background-size:cover
}
body {
  background-image: url(../images/sushibackground.jpg);
  background-size:cover
}

.Instructions {
   background-image: url(../images/sushibackground.jpg);
  background-size:cover
}
div {
  margin: auto;
  width: 100%;
  padding: 10px;
}


h1 {
  background-color: #b3cccc;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color:black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}


.row {
  float: center;
  width: 100%;
}

.ingredient {
  cursor: pointer;
}

#btn1  {
    background-color: #b3cccc;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color:black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#btn2 {
    background-color: #b3cccc;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color:black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
#submit {
    background-color: #b3cccc;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color:black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}



.square {
    background: #000;
    width: 100px;
    height: 100px;
    padding-bottom:20%;
}
.square h1 {
    color: #fff;
}

.container{
     border-style: solid
   }
   .column{
     border-style: solid
   }
